<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ClipR</title>
	<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
	<style>
		body  {
		    margin: 0; 
		    padding: 0;
		}
 		.item {
		margin: auto;
		width: 200px;
		margin: 10px;
		border: 2px solid;
		float: left;
		width: 25%;
		}
		.item-container {
			
		}
		.top-item {
			margin: auto;
			height: 60px;
			border-bottom: 1px solid;
			
		}

		.profile_pic {
			float: left;
			
		}

		.store_name {

		}

		.mid-item {
			padding-top:5px;
			border-bottom: 1px solid;
		}

		.mid-item img {
			border: none;
			display: block;
			margin: 0 auto;
			padding-bottom: 5px;

		}
	</style>
</head>

<body>

<div class="container">
	<div class="top-bar">
		<div class="top-left" style="width:15%; float:left;">
			<h1 style="color:#B00000  ;">ClipR</h1>
		</div>
		<form class="form-horizontal" role="search">
	        <div class="form-group" style="padding-top:15px;">
	          <input type="text" class="form-control span3" placeholder="Find: Restaurant, Party, etc" style="float:left;">
	          <input type="text" class="form-control span2" placeholder="Near: Palo Alto, CA " style="float:left;">
	        </div>
	        <button type="submit" class="btn btn-default">Search</button>
	    </form>
    </div>
	<hr/>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Recommended Clips</a></li>
        <li><a href="#">All Clips</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Clips <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>
	<div id="page" class="page">
	</div>
</div>
		<script type="text/template" id="user-list-template">
				<% _.each(posts, function(post) { %>
							<div class="item">
								<div class="item-container">
									<div class="top-item">
										<div class="profile_pic">
											<img src=<%=post.get('store').imgurl %> width="40">
										</div>
										<div class="non_pic">
											<span class="store_name" style="padding-left:10px;">
												<%= post.get('store').name %>
											</span>
											<div class="non_name" style="padding-top:5px;">
												<span class="location" style="float:left;padding-left:10px;">
													Palo Alto
												</span>
												<span class="distance" style="float:right; padding-right:10px;">
													3 miles
												</span>
											</div>
										</div>
									</div>

									<div class="mid-item">
										<div class="text_w_offer" align="center" style="padding-bottom:5px;">
											<%= post.get('text_w_offer') %>
										</div>
										<img src=<%=post.get('imgurl') %>>
									</div>
									<div class="bottom-item">
										<div> Some Text + Reviews</div>
										<div> Some Likes + Some Clips</div>
									</div>
							</div>
						</div>
				<% }); %>
		</script>

	<script type="text/javascript" src="../static/js/lib/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/js/lib/masonry/jquery.masonry.min.js"></script>
	<script src="../static/js/lib/underscore/underscore-min.js"></script>
	<script src="../static/js/lib/backbone/backbone-min.js"></script>

	<script>

		$.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
			//options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
			//options.url = 'http://127.0.0.1:8000/' + options.url;
		});

		$.fn.serializeObject = function() {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function() {
				if (o[this.name] !== undefined) {
					if (!o[this.name].push) {
						o[this.name] = [o[this.name]];
					}
					o[this.name].push(this.value || '');
				} else {
					o[this.name] = this.value || '';
				}
			});
			return o;
		};


		var Posts = Backbone.Collection.extend({
			url: 'http://127.0.0.1:8000/api/v1/post/'
			//url: '/users/'
		});

		var PostList = Backbone.View.extend({
			el: '.page',
			render: function () {
				var that = this;
				var posts = new Posts();
				posts.fetch({
					success: function (posts) {
						var template = _.template($('#user-list-template').html(), {posts: posts.models});
						that.$el.html(template);
					}
				})
			}

		});

		var Router = Backbone.Router.extend({
			routes: {
				'': 'home',
			}
		});

		var postList = new PostList();
		var router = new Router();

		router.on('route:home', function () {
			postList.render();
		});

		Backbone.history.start();

		$('#container').ready(function(){
		var $page = $('#page');
		$('img').imagesLoaded(function(){
			$page.masonry({
			itemSelector : '.item',
			columnWidth : 224,
			});
		});
	});

	</script>

</body>
</html>
